*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
.container{
  height: 100vh;
  width: 100%;
  background-image: url(./images/background.png);
  position: fixed;
  color: #fff;
}
.container .main{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 20%;
}
.container .main h3{
  font-size: 54px;
  color: greenyellow;
}
.container .main .time{
  display: flex;
  gap: 25px;
  margin-top: 10px;
}
.container .main .time h2,p{
  font-size: 43px;
  margin-top: 20px;
}
.container .main .time #check p{
  font-size: 20px;
}
.container .main #para{
  margin-top: 10%;
  font-size: 19px;
}
.container .main #heading{
  margin-top: 40px;
  font-size: 55px;
}
.container .main #heading span{
  color:red;
}
.container .main button{
  width: 160px;
  gap: 10px;
  height: 50px;
  margin-top: 40px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  background:black;
  color: white;
  padding: 10px;
  outline: 0;
  border: 0;
  border-radius: 12px;
}
.container .main button:hover{
  color: white;
  background-color: red;
  cursor: pointer;
}
.container .main button img{
  width: 20px;
  height: 20px;
  outline: 0;
  border:0;
}
.container .main #rocket{
  width: 250px;
  position: absolute;
  right: 10%;
  bottom: 0;
  animation: rocket 4s linear infinite;
}
@keyframes rocket{
  0%{
    bottom: 0;
    opacity: 0;
  }
  100%{
    bottom: 105%;
    opacity: 1;
  }
}
